name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        uses: swatinem/rust-cache@v2

      - name: Ensure Clippy
        run: rustup component add clippy

      - name: Lint
        run: cargo clippy -- -D warnings

      - name: Build
        run: cargo build --verbose

      - name: Run Tests
        run: cargo test --verbose
