name: Release

permissions:
    contents: write

on:
    push:
        tags:
            - "v*"

jobs:
    publish:
        name: Binary Release
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                include:
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu
                      binary_name: rush
                      asset_name: rush-linux-amd64
                    - os: macos-latest
                      target: aarch64-apple-darwin
                      binary_name: rush
                      asset_name: rush-macos-arm64
                    - os: macos-13 # Intel Mac
                      target: x86_64-apple-darwin
                      binary_name: rush
                      asset_name: rush-macos-intel

        steps:
            - uses: actions/checkout@v4

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: ${{ matrix.target }}

            - name: Build Release
              run: cargo build --release --target ${{ matrix.target }}

            - name: Rename and Prepare Asset
              shell: bash
              run: |
                  cp target/${{ matrix.target }}/release/${{ matrix.binary_name }} ${{ matrix.asset_name }}

            - name: Upload to GitHub Release
              uses: softprops/action-gh-release@v1
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  files: ${{ matrix.asset_name }}
